* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0.5%;
  display: flex;
  font-family: "Fira-code", sans-serif;
  font-weight: 300;
  background: rgb(176, 170, 180);
  background: linear-gradient(
    90deg,
    rgba(176, 170, 180, 1) 0%,
    rgba(212, 217, 220, 1) 50%,
    rgba(236, 233, 227, 1) 100%
  );
}

.wrapper {
  margin: 0.5%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

header {
  color: white;
  background-color: black;
  margin: 0.5%;
  padding: 0.5rem;
  height: 15vh;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

i {
  font-size: 150%;
}

p {
  font-size: 1rem;
  margin: 2% 1%;
}

.heading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

/* div,
section,
article,
aside,
footer,
p,
ul,
h1,
h2,
h3,
h4 {
  border: 1px solid yellow;
  margin: 0.5%;
} */

h1 {
  font-size: 1.5rem;
}

h3 {
  margin: 0.5%;
}

h4 {
  margin: 1rem auto;
}

nav {
  width: 70%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
  padding: 0.3rem;
  width: 100%;
  /* border: 1px solid red; */
}

header li:not(:first-child):before {
  content: " | ";
}

.top-nav-list-item {
  width: 23%;
}

img {
  width: 100%;
}

form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.form-col-left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.form-col-left {
  width: 74%;
}
.form-col-right {
  width: 24%;
  height: 4.5rem;
  position: relative;
}

.form-row {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.user-input {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

::-webkit-input-placeholder {
  color: #1f1c2c;
}

input[type="text"] {
  display: inline-block;
  width: 45%;
}

input[type="tel"],
input[type="text"] {
  border: none;
  padding: 0.3rem;

  background: #1f1c2c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #928dab,
    #1f1c2c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #928dab,
    #1f1c2c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input[type="tel"] {
  width: 100%;
}

input[type="submit"] {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

input[type="submit"]:hover,
button:hover {
  background: #1f1c2c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #928dab,
    #1f1c2c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #928dab,
    #1f1c2c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input[type="submit"]:active,
button:active,
a:active {
  transform: scale(0.95);
}

.tm-box {
  width: 30%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 1% 0%;
}

.top-article,
.mid-article {
  margin: 1% 0%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.mid-article {
  padding-top: 2rem;
}

.top-section {
  width: 49%;
  height: 90%;
}

section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

input[type="submit"],
button {
  color: white;
  padding: 0.4rem;
  border: none;
  border-radius: 0.2rem;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.top-section-button-box {
  position: relative;
  height: 2rem;
}

.top-section button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.mid-article-left-section {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.mid-article-left-section-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.mid-article-left-section-bottom {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.mid-article-right-section {
  background-color: #fff;
  padding: 3% 2%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.mid-article-right-section-div {
  width: 49%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.bottom-nav-list li:not(:last-child) {
  border-bottom: 1px solid white;
  display: block;
}

footer {
  width: 100%;
  margin: 1% 0%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

address {
  font-style: normal;
  /* text-decoration: none; */
}

.footer-top {
  color: white;
  background: black;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.footer-top-box {
  width: 32%;
  height: 100%;
}
.footer-top-box-top li {
  display: block;
}

li:hover {
  font-weight: bold;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer-bottom {
  width: 100%;
  text-align: center;
  background: rgb(176, 170, 180);
  background: linear-gradient(
    90deg,
    rgba(176, 170, 180, 1) 0%,
    rgba(212, 217, 220, 1) 50%,
    rgba(236, 233, 227, 1) 100%
  );
}

.footer-bottom,
.footer-top {
  margin: 1% 0%;
}
